body {
  background-color: #f2f2f2;
}

#mapid {
  position: relative;
  height: 85%;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#header {
  height: 10%;
  font-family: 'Helvetica';
}

#query {
  font-size: smaller;
  font-family: 'Lucida Console';
  overflow: hidden;
}