body {
    background: #F2F2F2;
}

#map {
    height: 900px;
    width: 60%;
    float: left;
    z-index: 0;
}

#header {
    font-family: Helvetica;
}

#form {
    font-family: Helvetica;
    margin: 3px 0 10px;
    float: right;
    height: 18%;
    width: 39.5%;
    overflow: auto;
}

#container1 {
    width: 40%;
    height: 350px;
    float: right;
    margin: 0 0 5px;
    background: #F2F2F2;
}

#container2 {
    width: 40%;
    height: 350px;
    float: right;
    margin: 0 0 5px;
    background: #F2F2F2;
}

#legend {
    position: absolute;
    top: 840px;
    left: 10px;
    z-index: 1;
    opacity: 0.9;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 350px;
    font-size: 14px;
    font-family: Helvetica;
}

.h4,
 h4 {
    font-size: 20px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

/*
.ol-popup-closer:after {
    content: "✖";
}
*/

#scale-line {
    position: absolute;
    top: 950px;
    left: 200px;
    z-index: 1;
}

.ol-scale-line {
    background: #8d8c8c;
    border-radius: 4px;
    bottom: 8px;
    left: 8px;
    padding: 2px;
    position: absolute;
    opacity: 0.9;
}